@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Light.ttf);
}

:root {
  --color1: #473023;
  --color2: #579471;
  --color3: #274735;
  --color4: #3A6594;
  --color5: #1F3347;
}
/* ################################# GLOBAL ################################# */

html, body { overflow-x:hidden; }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Lato", Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.top-page {
  color: white;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: auto 0;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
  padding: 5px 0;
}
h2::before {
  content: "";
  position: absolute;
  background: var(--color2);
  width: 50px;
  height: 7px;
  bottom: 0;
  border-radius: 4px;
}
a, a:visited {
  text-decoration: none;
  color: black;
}


/* ################################# TOP PAGE ################################# */

.top-page a, .top-page a:visited {
  color: white;
}
.bg {
  background: url(../img/bg.jpg) center/cover;
}
section.top-page {
  backdrop-filter: blur(3px) brightness(60%);
  height: 75vh;
  padding: 25px;
}
header {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  padding-left: 50px;
}
#logo {
  width: 150px;
}
nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 0px 40px;
  font-size: 1.2rem;
  font-weight: 600;
}
.landing-page {
  display: flex;
  padding: 20px 50px;
  height: 60%;
  /* position: relative; */
  
}
.scrolldown {
  position: absolute;
  bottom: 40px;
  font-size: 3rem;
  color: var(--color1);
  left: 50%;
  transform: translateX(-50%);
}

/* ################################# Services ################################# */

.services {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--color2);
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  width: 250px;
  /* height: max-content; */
  margin: 0 20px;
}
.service-item i {
  font-size: 3.5rem;
  margin-bottom: 10px;
  
}

/* ######################### Notre sélection ######################### */

.our-selection {
padding: 0 60px;
position: relative;
}

.best {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 40px 0;
  flex-basis: 100%;
  width: 85%;
}
.house-box {
  position: relative;
  margin: 10px;
}
.no-grid {
  min-width: 150px;
  min-height: 200px;
  /* flex-basis: 2%; */
  flex: 1;
}
#best1 {
  background: url(../img/nos_meilleures_ventes/1.jpg) left/cover;
}
#best2 {
  background: url(../img/nos_meilleures_ventes/2.jpg) left/cover;
}
#best3 {
  background: url(../img/nos_meilleures_ventes/3.jpg) left/cover;
}
#best4 {
  background: url(../img/nos_meilleures_ventes/4.jpg) center/cover;
}
.house-details {
  background: #ffffffb9;
  padding: 5px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.house-location {
  font-size: 1.5rem;
  font-weight: 1000;
}
.house-price {
  color: var(--color2);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 0;
}

/* ############################### Nos maisons ############################### */

.all-houses {
  padding: 0 60px;
}
.house-grid {
  display: grid;
  min-height: 800px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 40px 0;
  width: 85%;
  margin: 0 auto;
}

#house1 {
  background: url(../img/nos_maisons/1.jpg) center/cover;
  grid-column: 1/3;
  grid-row: 1/3;
}
#house2 {
  background: url(../img/nos_maisons/2.jpg) center/cover;
  grid-column: 3/5;
}
#house3 {
  background: url(../img/nos_maisons/3.jpg) center/cover;
  grid-column: 3/5;
}
#house4 {
  background: url(../img/nos_maisons/4.jpg) center/cover;
  grid-column: 1;
  grid-row: 3/5;
}
#house5 {
  background: url(../img/nos_maisons/5.jpg) center/cover;
  grid-column: 2/4;
  grid-row: 3/5;
}
#house6 {
  background: url(../img/nos_maisons/6.jpg) center/cover;
  grid-column: 4;
  grid-row: 3/5;
}

/* ########################### FOOTER ########################### */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 100px;
  font-weight: 500;
  position: relative;
  height: 60px;
}
footer::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 80%;
  background: var(--color2);
  top: 0px;
}


/* ######################### RESPONSIVE ######################### */

@media screen and (max-width: 1250px) {
  .no-grid {
    flex-basis: 45%;
  }
  h1 {
    font-size: 3.5rem;
  }

}

@media screen and (max-width: 1008px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .services {
    justify-content: space-between;
    padding: 40px 10px;
    width: 100%;
  }
  .service-item {
    font-size: 1.2rem;
    width: 250px;
    margin: 0 10px;
  }
  .service-item i {
    font-size: 3rem
  }
  .best {
    width: 100%;
  }
  .house-grid {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  header {
    align-items: center;
    justify-content: space-around;
    padding-left: 0px;
  }
  #logo {
    width: 100px;
  }
  nav {
    /* position: absolute; */
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0;
    width: fit-content;
    /* left: 60%; */
    /* transform: translateX(-50%); */
    font-size: 1rem;
    font-weight: 600;
    height: 100px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .landing-page {
    padding: 20px 20px;
  }
  .services {
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;
  }
  .service-item {
    font-size: 1rem;
    width: 250px;
    margin: 0 10px;
  }
  .service-item i {
    font-size: 2.5rem
  }
  .our-selection {
    padding: 0 20px;
  }
  .best {
    justify-content: space-evenly;
  }
  .all-houses {
    padding: 0 20px;
  }
  h2 {
    font-size: 2rem;
  }
  .no-grid {
    flex-basis: 45%;
  }
  #house1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #house2 {
    grid-column: 3/5;
  }
  #house3 {
    grid-column: 3/5;
  }
  #house4 {
    grid-column: 1/3;
    grid-row: 3;
  }
  #house5 {
    grid-column: 1/3;
    grid-row: 4;
  }
  #house6 {
    grid-column: 3/5;
    grid-row: 3/5;
  }
  footer {
    justify-content: space-around;
    padding: 20px 20px;
    font-weight: 500;
    position: relative;
    height: 60px;
    font-size: 0.9rem;
  }

}
@media screen and (max-width: 350px) {
  
  h1 {
    font-size: 2rem;
  }
  .scrolldown {
    bottom: 20px;
    font-size: 2rem;
  }
  .services {
    /* margin-bottom: 100px; */
    padding: 20px 0;
  }
  .service-item {
    font-size: 1rem;
  }
  .service-item i {
    font-size: 2em;
    margin: 0 8px;
  }
  .no-grid {
    flex-basis:80%;
  }
}
/* ##################### DEV TOOL RED BORDER ##################### */

/* * { border: solid 1px red; } */